[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/krkrz/zlib.git
	ignore = dirty

[submodule "external/tp_stubz"]
	path = external/tp_stubz
	url = https://github.com/uyjulian/tp_stubz.git
[submodule "external/00_simplebinder"]
	path = external/00_simplebinder
	url = https://github.com/uyjulian/00_simplebinder.git
